*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    color: black;
    background-color: white;
}

main{
    min-height: calc(100vh - 60px - 60px);
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 60px;

    background-color: rgb(24, 158, 221);
}

a{
    text-decoration: none;
}

.conteiner{
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
}

.inner_header{
    height: 100%;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    
}

.icon{
    height: 40px;
    width: 40px;

    display: inline-block;

    transition: .1s linear;
}

.icon:hover{
    transform: scale(1.2);
}

.icon a{
    height: 100%;
    display: inline-block;
}

.icon img{
    height: 100%;
    
}

.icon img:hover{
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.3));
}

.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 22px;
    font-size: 22px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: .1s linear;
}

.nav_link:hover{
    text-shadow: 0px 0px 15px black;
    transform: scale(1.2);
}

.title{
    font-size: 50px;
}

h1{
    font-size: 40px;
}

.f_section{
    background-color: rgb(255, 255, 255);
    color: rgb(24, 158, 221);
    box-shadow: 0px 10px 20px -5px rgb(49, 49, 49, 0.5) inset;
}

.s_section{
    background-color: rgb(24, 158, 221);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 5px rgb(49, 49, 49, 0.5);
}

.last_section{
    flex: 1;
}

.section_title{
    text-align: center;
    margin: 25px auto;
}

.section_main{
    text-align: center;
    margin: 30px auto;
}

@keyframes ROTATION{
    0%{ 
        transform: rotate(0);
    }
    100%{ 
        transform: rotate(360deg);
    }
}

@keyframes SIZE{
    0%{ 
        transform: scale(0.7);
    }
    100%{ 
        transform: scale(1);
    }
}

.photo_turn{
    margin: 80px auto;
    animation: ROTATION 4s infinite cubic-bezier(.68,-0.55,.27,1.55);
}

.photo_handler{
    height: 600px;
    width: 600px;
    overflow: hidden;
    margin: 0px auto;
    border-radius: 50%;
    box-shadow: 0px 0px 50px black;
    
    animation: SIZE 2s alternate-reverse infinite ease;
}

.my_photo{
    position: relative;
    right: 95px;
    bottom: 220px;
    width: 120%;
    height: auto;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_item{
    width: 10vw;
    height: 10vw;
    display: flex;
    align-items: center;
    margin: 0 auto;

    transition: .1s linear;
}

.contact_item:hover{
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
}

.contact_item img{
    width: 100%;
}

.f_section .card{
    width: 100%;
    height: 100%;
    padding: 2vw 0;
    border: 3px solid rgb(24, 158, 221);
    border-radius: 50%;
    background-color: white;
    font-size: 10px;
    text-align: center;
}

.card p{
    margin-top: 5px;
}

.discription{
    margin: 70px 0px;
    padding: 30px 40px;
    background-color: rgb(24, 158, 221);
    border-radius: 200px;
    color: white;
    font-size: 50px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, calc(100vh/5));
    grid-auto-rows: calc(100vh/5);
    justify-content: center;
}

.grid div{
    position: relative;
    background-color: rgb(24, 158, 221);
    color: white;
    text-align: center;
    margin: 10px;
    border-radius: min(2vh, 2vw);
    transition: box-shadow 0.2s linear, transform 0.2s linear;
}
.grid div:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px black;
}

.grid div *{
    width: 40%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

footer{
    width: 100%;
    height: 60px;
    font-size: 15px;
    font-weight: 500;
    background-color: #909090;
    color: #cecece;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    box-shadow: 0px 5px 10px -5px black inset;
}

footer p{
    margin-top: 30px;
}

caption{
    font-size: 20px;
    font-weight: 900;;
    border-radius: 200px;
    padding: 15px;
    margin: 30px;
}

.f_section table{
    margin: 0 auto;
    border-collapse: collapse;
    border: 3px solid;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

.f_section table th{
    padding: 10px;
    border: 3px dotted white;
    color: white;
    background-color: rgb(24, 158, 221);
}

.f_section table td{
    padding: 10px;
    border: 3px dotted rgb(24, 158, 221);
    transition: .3s linear;
}
.f_section table td:hover{
    background-color: rgb(24, 158, 221);
    color: white;
}

.f_section table caption{
    color: white;
    background-color: rgb(24, 158, 221);
}

.s_section table{
    margin: 0 auto;
    border-collapse: collapse;
    border: 3px solid;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

.s_section table th{
    padding: 10px;
    border: 3px dotted rgb(24, 158, 221);
    color: rgb(24, 158, 221);
    background-color: white;
}

.s_section table td{
    padding: 10px;
    border: 3px dotted white;
    transition: .3s linear;
}
.s_section table td:hover{
    background-color: white;
    color: rgb(24, 158, 221);
}

.s_section table caption{
    color: rgb(24, 158, 221);
    background-color: white;
}

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

select{
    grid-column-start: 1;
    grid-column-end: 2;
}

.name{
    grid-column-start: 2;
    grid-column-end: 3;
}

textarea{
    height: 100px;
    grid-column: 1/3;
}

label{
    grid-column: 1/3;
}

label > input{
    margin-right: 5px;
}

.send{
    grid-column: 1/3;
}